/* Initierar bakgrundsfärg*/
body {
 background: #fff;
}

/* Huvudbehållare som centrerar innehållet */
.container {
 max-width: 1000px;
 font-family: 'alkatra';
 line-height: 1.6;
 margin: auto;
 display: flex;
 align-items: center;
 gap: 40px;
}

/* Behållare för texten */
.content {
 flex: 1;
}

/* Behållare för bilden */
.image {
 flex: 1;
 min-width: 300px;
 text-align: center;
 padding-top: 40px;
}

/* Beskriver bildens utformning */
.image img {
 max-width: 100%;
 border-radius: 4px;
 box-shadow: 2px 2px 5px 2px #888;
}

/* Centrera och skapa utrymme för huvudrubrik */
.headline {
 text-align: center;
 padding-top: 14px;
 padding-bottom: 14px;
}

/* Huvudrubrikens design */
.tag {
 background-color: #000;
 color: #fff;
 display: inline-block;
 letter-spacing: 8px;
 border-radius: 10px 0px;
 padding-left: 8px;
 padding-right: 8px;
 text-align: center;
}

/* Underrubrik */
.subheading {
 font-size: 1.2rem;
 color: #888;
 letter-spacing: 2px;
 margin-bottom: 14px;
 text-align: center;
}

/* Hoverdesign för länk */
.hover-green:hover{
 color: green;
}