 *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body{
        background: white;
    }

    .app{
        background: #fff;
        width: 90%;
        max-width: 600px;
        margin: 100px auto;
        border-radius: 10px;
        padding: 30px;
        display: flex;
        flex-direction: column;
        
        box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);;
    }

    .navigation{
        margin-top: auto;
        display: flex;
        justify-content: space-between;
        gap: 10 px
    }
    .nav-btn {
        background: #fff;
        color: #000;
        border: 2px solid #000;
        padding: 10px 10px ;
        border-radius: 10px; 
        width: 10%;
        cursor: pointer;
        font-weight: 600;
    }

    .nav-btn:hover {
        background: #000;
        color: #fff;
    }

    .app h1 {
        font-size: 25px;
        font-weight: 600;
        border-bottom: 1px solid #000;
        padding-bottom: 30px;
    }

    .quiz{
        padding: 20px 0;
    }

    .quiz h2{
        font-size: 18px;
        font-weight: 600;
    }

    #answerButton{
        display: grid;
    }

    #answerButton label{
        background: #fff;
        font-weight: 500;
        width: 100%;
        border: 1px solid #000;
        padding: 10px;
        margin: 10px 0px;
        text-align: left;
        border-radius: 4px;
        cursor: pointer;

        display: flex;
        gap: 10px;
    }

    #answerButton label:hover{
        background-color: #000;
        color: #fff ;
    }