/* Initiera bakgrundsfärg */
body {
    background-color: #fff;
    height: 100%;
}

/* Luft runt info i container */
.container {
    padding: 0.1em 16px;
}

/* Vad texten ska ha för radbredd och font*/
.content {
    margin-left: auto;
    margin-right: auto;
    max-width: 700px;
    font-family: alkatra;
}

/* Klass som sätter stor bokstav innan paragraf */
.big-letter::first-letter {
    font-size: 150%;
    font-weight: bold;
}

/* Övre marginal till bild */
.margin-top {
    margin-top: 16px;
}

/* Huvudrubrik */
.headline {
    text-align: center;
    padding-top: 64px;
    padding-bottom: 64px;
}

/* Design på huvudrubrik */
.tag {
    background-color: #000;
    color: #fff;
    display: inline-block;
    padding-left: 8px;
    padding-right: 8px;
    text-align: center;
    border-radius: 10px 0px;
    letter-spacing: 8px;
}

/* Mellanrum på punktlista*/
li{
    margin-bottom: 1em;
}


/* Inforuta ska ha svart skarp kant på vänster sida */
.infobox {
    background-color: #ababab;
    padding: 0.1em 16px;
    border-left: 8px solid #000;
}

/* Footer med grå bakgrund*/
footer {
    font-size: 20px;
    text-align: center;
    background-color: #ababab;
    padding-top: 48px;
    padding-bottom: 18px;
}

/* Grön hover-effekt på länk */
.hover-green:hover {
    color: green;
}