body {
    background-color: #2d2626;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 20px;
}

.box {
    width: 300px;
    height: 150px;
    background-color: white;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-family: sans-serif;
    box-shadow: 5px 5px 30px #fff;
}

.box:hover {
    color: #fff;
    background-color: rgb(0, 255, 70);
    transition: 0.5s;
}