/* Doesn't work for safari... */
* { user-select: none; }

/* Remvoes default styling for "a" elements */
* {
    color: inherit;
    text-decoration: inherit;
}

/* 
The checkbox is used as a native way to have a "on and off" state system that you can 
target with CSS. But since input elements are difficult to style we hide it and instead
create a label that we style as a button that the user will be interacting with as a replacement. 
*/
input[type="checkbox"] { display: none; }
input[type="checkbox"]:checked ~ .dropdown-content { display: grid; }

/* Hidden by default, see above how it is shown */
.dropdown-content {
    display: none;
    gap: 10px;

    /* Make sure content is centered (x-axis) in respect to the parent */
    position: absolute;
    left: 50%;
    transform: translate(-50%);

    /* Color... */
    background-color: white;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.4);

    /* Make sure it is in the front of any other element */
    z-index: 1;
}
.dropdown-content a:hover {
    background-color: #919df9;
}

/* Parent to .dropdown-content. Set to relative so that one can use "position: absolute" */
.dropdown-wrapper {
    height: 100%;
    position: relative;
}

/* The label that acts like a button for the checkbox */
.dropdown-btn {
    height: 100%;
    width: 6rem;
    display: grid;
    align-items: center;
    justify-items: center;
    border: 1px solid black;
    
    cursor: pointer;
}
.dropdown-btn:hover {
    background-color: rgb(226, 226, 226);
}