/* Doesn't work for safari... */
* { user-select: none; }
* {
    color: inherit;
    text-decoration: inherit; /* no underline */
}

/* Hidden, user will check the input via the label instead */
input[type="checkbox"] { display: none; }

/* When input is checked, display the content*/ 
input[type="checkbox"]:checked ~ .dropdown-content { 
    display: grid; 
    gap: 10px;

}

/* Hidden by default */
.dropdown-content {
    display: none;

    position: absolute;
    left: 50%;
    transform: translate(-50%);
    background-color: white;

    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.4);
    z-index: 1;
}

.dropdown-content a:hover {
    background-color: #919df9;
}

.dropdown-wrapper {
    height: 100%;
    position: relative;
}

.dropdown-btn {
    height: 100%;
    width: 6rem;
    display: grid;
    align-items: center;
    justify-items: center;
    border: 1px solid black;
    
    cursor: pointer;
}
.dropdown-btn:hover {
    background-color: rgb(226, 226, 226);
}